.container{
    border: 5px solid black;
    padding: 0;
    width: 850px;
    margin: 30px auto 0;

}

*{
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#shipping{
    color: #444;
}

a:link, a:visited{
    color: black;
}
a:hover, a:active{
    text-decoration: none;
}

h2{
    text-align: center;
}

#dugme{
    background-color: black;
    height: 25px;
    margin-bottom: 0;
    margin-left: 0;
    color: white;
    text-transform: uppercase;
    border: none;
    width: 100%;
    height: 57px;
    font-size: 24px;
}
#dugme:hover{
    background-color: beige;
    color: black;
}

h2, h3{
    text-transform: uppercase;
}

#price{
    font-size: 30px;
    /* float: left;*/
    /* margin-bottom: 20px; */
}

ul{
    list-style-type: square;
}

#main-header{
    background-color: rgb(243, 238, 238);
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
 
#shipping{
    /* margin-bottom: 10px; */
    /* float: right; */
}

#description{
    margin-bottom: 10px;
    /* clear: both; */
}

li{
    margin-top: 10px;
    margin-left: 20px;
}
li:first-child{
    margin-top: 15px;
}
li:last-child{
    margin-bottom: 20px;
}

#main-header::before{
    content: "SALE";
    position: absolute;
    color: white;
    background-color: rgb(222, 37, 37);
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 550;
    padding: 7px 13px;
    top: -20px;
    left: -40px;
}

.colors{
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.color{
    height: 25px;
    /* margin-right: 10px; */
    width: 25px;
    /* background-color: black;
    display: inline-block; */
}
/* .color:last-child{
    margin-right: 0;
}  */

#first{
    background-color: black;
}
#second{
    background-color: rgb(43, 86, 228);
}
#third{
    background-color: rgb(238, 46, 46);
}
#fourth{
    background-color: rgb(238, 238, 34);
}
#fifth{
    background-color: rgb(74, 243, 74);
}
#sixth{
    background-color: rgb(100, 51, 32);
}

/*825-8-250*/
/*.product-info{    
    flex: 1;
}
.product-details{
    flex: 1;
}
/* .product-img{
    margin-right: 40px;
} */
/*
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}*/
/*.main-container{
    background-color:blanchedalmond;
} */

/*FLEXBOX replacement*/
/*.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}*/
.price-shipping{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    align-items: center;
    column-gap: 40px;
}
#main-header{
    grid-column: 1/-1;
}
#dugme{
    grid-column: 1/-1;
}
